body{
    margin: 0;
    padding: 0;
}

.container-fluid{
    background-color: #7C40FB;
}

.main-banner{
    background-image: url(img/back.webp);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}


.banner-img{
    width: 50%;
    padding-top: 40%;
    padding-bottom: 10%;
}

.banner-text{
    padding-top: 35%;
    width: 90%;
    padding-left: 20%;
}

@media (max-width: 1200px){
    .banner-text{
        padding-top: 30%;
    }
    .banner-text h3{
        font-size: 28px;
    }
}

@media (max-width: 1030px){
    .banner-text h3{
        font-size: 24px;
    }

    .banner-text h4{
        font-size: 20px;
    }

    .text-info-row h4{
        font-size: 20px;
    }
    
    .text-info-row p{
        font-size: 16px;
    }


}

@media (max-width: 890px){
    .banner-text h3{
        font-size: 20px;
    }

    .banner-text h4{
        font-size: 16px;
    }

    
}

@media (max-width: 768px){
    .main-banner{
        background: none;
    }
    .banner-text{
        padding: 0;
        width: 100%;
    }
    .banner-text h3{
        font-size: 30px;
    }

    .banner-text h4{
        font-size: 24px;
    }
    .banner-img{
        padding: 50px 0;
    }

}

.info-row{
    padding: 90px 0;
    background: linear-gradient(360deg, #a0e0f4 0%, #5ab0d8 45.83%, #808fed 100%);
}

.info-img{
    width: 100%;
    padding: 30px;
    margin-bottom: 20px;
}

.text-info-row{
    width: 80%;
}

.text-info-row h4{
    font-size: 30px;
}

.text-info-row p{
    font-size: 24px;
}

.view{
    padding-bottom: 10px;
}

@media (max-width: 1100px) {
    .text-info-row{
        width: 100%;
    }
    .text-info-row h4{
        font-size: 24px;
    }

    .text-info-row p{
        font-size: 20px;
    }
}

@media (max-width: 768px){
    .text-info-row{
        width: 70%;
        margin: auto;
    }


}

.form-block{
    padding: 90px 0;
    
    
}

.contact-title  {
    color: #92c5e6;
    text-align: center;
    padding-bottom: 10px;
    text-transform: uppercase;
}   



form{
    width: 80%;
    margin-right: 50px;
    float: right;
}

.list-view{
    text-align: left;
    line-height: 2em;
}
.link-light{
    padding: 0;
}

.img-row-cont{
    width: 60%;
}

.img-cont{
    padding: 0;
}

.link-title{
    color: #92c5e6;
}



@media (max-width: 768px){
    form{
        width: 100%;
        margin-right: 0;
        
    }

    .list-view{
        text-align: center;
        line-height: 2em;
    }
    .img-row-cont{
        width: 60%;
        margin: auto;
    }

    .link-title{
        padding-top: 30px;
        text-align: center  ;
    }



}



